#viewport {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
}

a {
    display: block;
    text-align: center;
    font-size: 13px;
    opacity: 0.75;
    color: black;
    font-family: arial, sans-serif;
    text-decoration: none;
}

.left_header {
    padding-left: 3px;
    list-style-type: none;
    margin-top: 24px;
}

#l_item {
    opacity: 1;
    padding-left: 17px;
}

#r_item {
    opacity: 1;
    padding-right: 17px;
}

.l_header_item {
    display: inline;
    float: left;
    text-decoration: none;
}

.l_header_item:hover {
    text-decoration: underline;
}

.r_header_item {
    display: inline;
    float: right;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 0px;
}

.r_header_item:hover {
    text-decoration: underline;
}

.profile_container {
    opacity: 1;
    width: 32px;
    height: 32px;
    padding-left: 0px;
    justify-content: center;
    transform: translateY(-30%);
}

.profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    justify-content: center;
    padding-left: 0px;
}

.square_grid_container {
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0px;
    transform: translateY(-20%);
}

.square_grid {
    display: grid;
    position: relative;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    transform: scale(0.1) translateY(-445%) translateX(-7px);
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.square {
    color:#000;
    background-color: #000;
    margin: 20px;
    width: 40px;
    height: 40px;
}

.page_center {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.logo {
    padding: 40px;
}

.search_icon {
    position: absolute;
    z-index: 1;
    color: #9aa0a6;
    fill: currentColor;
    transform: translateX(20%);
}

.voice_icon {
    z-index: 1;
    position: absolute;
    width: 24px;
    height: 24px;
    transform: translateX(-150%) translateY(-15%);
    cursor: pointer;
    color:  rgb(66, 133, 244);
    fill:  rgb(66, 133, 244);
    opacity: 1;
}

svg {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    top: 50%;
    transform: translateY(-10%); 
}

.searchbar {
    position: fixed;
    padding-top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search_input {
    width: 492px !important;
    height: 42px !important;
    padding-right: 45px;
    padding-left: 45px;
    line-height: 40px;
    border: none;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    background-color: transparent;
    font-size: 16px;
    margin-top: -37px;
    text-align: start;
    appearance: textfield;
    cursor: text;
    text-rendering: auto;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 44px;
    width: 582px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}

.search_input:focus {
    outline: none;
    box-shadow: 0px 1px 6px 0px rgba(32, 33, 36, 0.28);
}

.search_input:hover {
    outline: none;
    box-shadow: 0px 1px 6px 0px rgba(32, 33, 36, 0.28);
}

.button_grid {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 25px;
    height: 40px;
    grid-gap: 0px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    font-family: arial, sans-serif;
    margin: 11px 4px;
    border: 1px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    font-size: 104px;
}

.button_item {
    background-color: rgb(248, 249, 250);
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #f8f9fa;
    cursor: pointer;
    border-radius: 4px;
    font-family: arial, sans-serif;
    margin-bottom: 15px;
}

.button_item:hover {
    outline: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1)
}

.button_item:focus {
    outline: none;
    border: 1px solid #4d90fe;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #dadce0;
    background: #f2f2f2;
    min-width: 400px;
    line-height: 40px;
}

.footer {
    padding-left: 3px;
    list-style-type: none;
    min-width: 640px;
    
}

.l_footer_item {
    display: inline;
    float: left;
    text-decoration: none;
    font-size: 14px;
    color: #70757a;
    
}

.r_footer_item {
    display: inline;
    float: right;
    text-decoration: none;
    padding-right: 17px;
    padding-left: 0px;
    color: #70757a;
}

.l_footer_item:hover {
    text-decoration: underline;
}

.r_footer_item:hover {
    text-decoration: underline;
}

.footer_text {
    font-size: 14px;
    color: #70757a;
}
